<!doctype html>

<title>Tempus map recommendations</title>
<meta charset=utf-8>

<head>
    <style type="text/css">
        h1 {
            margin-top: 0;
            margin-bottom: 0;
        }

        #heading {
            margin-bottom: 1rem;
        }

        .error {
            color: red;
        }
    </style>
</head>

<div id="heading">
    <h1>Tempus map recommendations</h1>
    <span>Database date {{date}} (yyyy-mm-dd)</span><br />
</div>

<div id="result">
    <span class="error">The page could not be found.</span><br />
    <span>Check that you typed the map name or player id correctly.</span><br />
    <span>In the case of player profiles, you must have top 50 time(s) on Tempus for recommendations to be available.</span><br />
    <span>Also note the database date above. It may not be updated for latest maps/times.</span><br />
</div>
